*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'League Spartan', sans-serif;

    
}


.main{
    width: 1440px;
  
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -80px;
    position: relative;

}

.top-icon{
    position: absolute;
    top: 0;
    left: 0px;
}

.left-session{
    padding: 50px;
    margin-left: -150px;
    height: 210px;
   
   
}

.left-session .head{
    font-weight:700;
    font-size: 40px;
    color:hsl(300, 43%, 22%);
    line-height: 40px;
    margin-bottom: 10px;
   

}
.left-session p{
    color: hsl(303, 10%, 53%);
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

.right-session{
    height: 210px;
    padding: 50px;
    margin-left: -100px;
    margin-right: 100px;
    width: fit-content;
    margin-top: 90px;
   
    

}

.right-session div{
    background-color: white;
    margin-bottom: 11px;
    padding-left: 13px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    
    
}
.rating1 span{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}
.rating2 span{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}
.rating3 span{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}
 


.rating1{
    height: 20px;
    margin-left: -30px;
    width: 310px;
    padding: 7px;
    
  
  
}
.rating2{
    height: 20px;
    width: 340px;
    padding: 7px;
   
}
.rating3{
    height: 20px;
    margin-left: 25px;
    width: 360px;
    padding: 7px;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 39px;
    margin-right: 280px;
    margin-top: 20px;
    align-items: baseline;
}

.container1{
    background-color: white;
    height: 200px;
    width: 300px;
    padding: 30px 30px 35px 35px;
    border-radius: 4px;
    margin-right: -100px;
    background-color:  hsl(300, 43%, 22%);
    color: white;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 10px;
   
}
.container2{
    background-color: white;
    height: 210px;
    width: 250px;
    padding: 17px 60px 40px 35px;
    margin-left: -70px;
    margin-right: 90px;
    background-color:  hsl(300, 43%, 22%);
    color: white;
    font-size: 11px;
    letter-spacing: 1.1px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 10px;
    
}

.container3{
    background-color: white;
    height: 215px;
    width: 300px;
    padding: 1px 35px 45px 35px;
    margin-left: -260px;
    background-color:  hsl(300, 43%, 22%);
    color: white;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 10px;
}

.profile{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-container{
   width: 30px;
   height: 50px;
   border: none;
   margin-right: 15px;
}

.img-container img{
    margin-right: 12px;
    width: 100%;
    border-radius: 25px;
    margin-top: 12px;

    
   
}

.verified{
    color: hsl(333, 80%, 67%)
}

.details{
    text-align: center;
}



 @media screen and (max-width: 750px) and (min-width:300px) {

    body{
            width: 100%;
        }
        
    .main{
        display: block;
        width: 400px;
        height: 400px;
        margin: auto;

    
    }
    .section1{
      display: block;
      margin-bottom: 0;
    }
    .section2{
        display: flex;
        flex-direction: column;
       width: auto;
       height: auto;
    
    }

    .profile{
        display: flex;
        text-align: center;
    }
    
    .left-session{
        padding: auto;
        margin-left: auto;
        width: auto;
    }
    .left-session .head{
        margin-bottom: auto;
        width:100%;
        font-size: 35px;
        text-align: center;
        line-height: 30px;
        text-align: center;
      
    }

    .left-session p{
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
        width: 100%;

    
    }

    .right-session{
        padding: 0;
        margin: 0;
        height: 250px;
        width: auto;

        
    }

    .right-session div{
        padding-left: 0px;
        margin-bottom: 0px;
        height: 45px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;

    }
    
    .right-session .rating1,
    .right-session .rating2,
    .right-session .rating3{
        margin-left: auto;
        margin-right: auto;
    }

    .rating1 span,
    .rating2 span,
    .rating3 span{
        margin: 0px;
        font-size: 14px;
        display: block;
        
    }
    
    .rating1,
    .rating2,
    .rating3{
        height: auto;
        width: auto;
        padding-top: 5px;
    }
    
    .rating1 :nth-child(1),
    .rating2 :nth-child(1),
    .rating3 :nth-child(1){
        padding-top: 10px;
        
    }

    .container1,
    .container2,
    .container3{
        margin: auto;
        padding: 0;
        width: 350px;
        height: 250px;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 40px;
        
    }


.img-container{
    width: 30px;
    height: 50px;
    border: none;
    margin-right: 25px;
    margin-left: 5px;

}


.img-container img{
    width: 100%;
    border-radius: 25px;
    margin-left: 5px;

}

.details{
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}






 }









